/vendor
/node_modules
/public/storage
/storage
/public/evidencias/*
Homestead.yaml
Homestead.json
.env
.*.env
.sh
*.sql
*.xls
*.ods
*.xlsx
*.zip
*.rar
*.DS_Store
.DS_Store
readme.dev
change.log

/node_modules
/bower_components
/public/bower_components/
/test
/tests

/related_files/

/includes/database.php

/public/log_emails.log

/public/schedule/logs/*
