/vendor
/node_modules
/public/storage
/storage
/public/evidencias/*
Homestead.yaml
Homestead.json
.env
.*.env
.sh
*.sql
*.xls
*.ods
*.xlsx
readme.dev
change.log

/node_modules
/bower_components
/public/bower_components/
/test
/tests
