.no-padding{
    padding: 0 !important;
}
#chart_div table{
    margin: 0 auto !important;
}
.nav.navbar-nav{
    font-size : 18px;
    font-weight: bold;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
    max-height: 100% !important;
    overflow: overlay
}
.label {
  font-size: 75% !important;
  margin: 1px;
}
.alert {
  margin: 5px 0px;
}
#page-wrapper {
    padding: 10px !important;
}

/* Small devices (tablets, 768px and up) */
@media (max-width : 768px) {
    .container-fluid{
        padding: 1px;
    }
    .panel-body{
        padding: 10px;
    }
    .well{
        padding: 10px;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
        padding-right: 10px;
        padding-left: 10px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {}


.simple-pagination ul {
    text-align: center;
}

.simple-pagination li {
    float: none !important;
    display: inline-block;
}
